/* Custom CSS */

@font-face { font-family: Money; src: url('/static/fonts/Cash Currency.ttf'); } 
@font-face { font-family: Logo; src: url('/static/fonts/RockoFLF.ttf');}
@font-face { font-family: Reddit; src: url('/static/fonts/RockoFLF.ttf');}

body { font-family: Reddit; src: url('/static/fonts/RockoFLF.ttf');}

.thumbs img {

  height:70px;
  width:70px;
  margin:10px;
  border:1px #1AA6FF solid;
}

.top-bar#sub { background-color:#243C83; text-align:center; margin-top:0px; height:30px; color:gray; padding-bottom:30px;}

.top-bar#sub a { color:white; }

p.tagline {background-color:#162241; font-family:Arial; color:#ffffff; font-size:13px;}

h2.site { text-align:left; text-align:center;}

img.logos {display:block; margin:auto;}
p.huge {font-size:8.5em; text-align:center; font-family:arial; margin:0; padding:0;}

p.huge#cuteness {font-family:Reddit; color:#2872C2;}
.panel.callout p.money {color:#4D8F21; font-family:Money; font-size:2.5em; text-align:center;}
.panel.callout p.cuteness {font-family:Reddit; font-size:2.5em; text-align:center;}
.panel.callout#intro {background:#9ADF20; border-color:#9FDA07;}

/* Reddit styles */
.reddit-text {font-family:Reddit;}
.reddit-text#header {text-align:center;}
.reddit-text#subs {font-size:1.2em; color:#2872C2;}
.reddit-text#numbers {font-size:0.9em;}
.reddit-text#cuteness-announce {font-size:0.7em; color:#2872C2;}
.reddit-text#cuteness-level {font-size:1.2em; color:#DD2E2E;}
#reddit {background:#ecfaff; border-color:#b6edff;}
.panel.callout.content#reddit {background:#ecfaff; border-color:#b6edff;}

/* TechCrunch styles */
#techcrunch {background:#E4F8D4; border-color:#9FDA07;}
p.huge#techcrunch {color:#4D8F21; font-family: Reddit; text-align:center;}
.tctext {font-family:Reddit;}
.tctext#disruption-announce {font-size:0.7em; color:#000000;}
.tctext#disruption-level {font-size:1.2em; color:#4D8F21;}
.tctext#writers {font-size:1.2em; color:#4D8F21;}
.tctext#numbers {font-size:0.9em; color:#000000;}
.panel.callout.content#techcrunch {background:#E4F8D4; border-color:#9FDA07;}
.panel.callout#techcrunch a:not(.button) {
      color:#4D8F21;} 

/* Bloomberg styles */

#bloomberg {background:#FFFFFF;border-color:#DAD4D3;}
.panel.callout.content#bloomberg {background:#FFFFFF;border-color:#FFFFFF;}
.bloomberg-caption {text-align:center; padding-top:0.7em;}
.bloomtext {font-family:Reddit;}
.bloomtext#index {color:#000000; font-size:1.3em;}
.bloomtext#value {color:#757575; font-size:1.4em;}
.bloomtext#pos-change {color:#409610;}
.bloomtext#neg-change {color:#BB0606;}

/* Quote boxes */

.quotes {
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px 0px 20px;
  text-align: center;
}

.quotes#pos { background:#BDE4A7;}
.quotes#neg { background:#FCD4D4;}

.small-quotes {
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
  text-align: center;
}

.small-quotes#pos { background:#BDE4A7;}
.small-quotes#neg {background:#FCD4D4;}


/* Misc */

.copyright {font-size:0.8em; text-align:center;}