/* Custom CSS */

@font-face { font-family: Money; src: url('/static/fonts/Cash Currency.ttf'); } 
@font-face { font-family: Logo; src: url('/static/fonts/RockoFLF.ttf');}
@font-face { font-family: Reddit; src: url('/static/fonts/RockoFLF.ttf');}

body { font-family: Reddit; src: url('/static/fonts/RockoFLF.ttf');}

.thumbs img {

  height:70px;
  width:70px;
  margin:10px;
  border:1px #1AA6FF solid;
}

table { border:0;}

.top-bar {background-color:#287E32;}

  .top-bar .name {
    text-align:center;
    height: 45px;
    margin-top: 1em;
    font-size: 16px; }
    .top-bar .name h1 {
      font-family:Money;
      line-height: 45px;
      font-size: 3.2625rem;
      margin: 0; }

.top-bar#sub { background-color:#59A128; text-align:center; margin-top:0px; height:30px; color:gray; padding-bottom:30px;}

.top-bar#sub a { color:white; }

p.tagline {background-color:#162241; font-family:Arial; color:#ffffff; font-size:13px;}

h2.site { text-align:left; text-align:center;}

img.logos {display:block; margin:auto;}
p.huge {font-size:8.5em; text-align:center; font-family:arial; margin:0; padding:0;}


/* Bloomberg styles */

#bloomberg {background:#FFFFFF;border-color:#DAD4D3;}
.panel.callout#bloomberg {padding:0em; margin:0em;}
.panel.callout.content#bloomberg {background:#FFFFFF;border-color:#FFFFFF;}
.bloomberg-caption {text-align:center; padding-top:0.7em;}
.bloomtext {font-family:Reddit;}
.bloomtext#index {color:#000000; font-size:1.3em;}
.bloomtext#value {color:#757575; font-size:1.4em;}
.bloomtext#pos-change {color:#409610;}
.bloomtext#neg-change {color:#BB0606;}

/* Stock screener styles */

select#selectField-stocks {margin-top:1em;}
#stocks {background:#FFFFFF;border-color:#DAD4D3;}
.up {background-color:#59A128; color:white; text-align:center;}
.down {background-color:red; color:white; text-align:center;}


/* Quote boxes */

.quotes {
  margin: 0 auto;
  width: 10%;
  padding: 40px 20px 0px 20px;
  text-align: center;
}

.quotes#pos { background:#BDE4A7;}
.quotes#neg { background:#FCD4D4;}

.small-quotes {
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
  text-align: center;
}

.small-quotes#pos { background:#BDE4A7;}
.small-quotes#neg {background:#FCD4D4;}


/* Misc */

.copyright {font-size:0.8em; text-align:center;}