<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>AceAdvisor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

</head>

<body>
{% block nav %}
<nav class="top-bar" data-topbar><div class="name"><h1><a href="/">{{ title }}</a></h1>
</div> </nav>

<nav id="sub" class="top-bar" data-topbar>
</section> </nav>
<br />
{% endblock nav %}

{% block content %}
	
{% endblock %}

{% block js %}
  
  <script src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/topbar.js') }}"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/acescrape.js') }}"></script>
  <script>
    $(document).foundation();

  </script>

{% endblock js %}

{% block footer %}

      <div class="footer">
        <p class="copyright">&copy; <a href="//www.acecodes.net">Ace Eddleman</a> {{ year }}</p>
      </div>

{% endblock footer %}

</body>