<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>AceAdvisor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}" />
  <link type="text/css" media="screen" rel="stylesheet" href="{{ url_for('static', filename='css/responsive-tables.css') }}" />
<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

</head>

<body>
{% block nav %}

 <nav class="top-bar" data-topbar>
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <a href="/">
            {{ title }}
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>


    <section class="top-bar-section">
       
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="http://www.acecodes.net">Author Site</a>
          </li>
        <li class="divider"></li>
        <li><a href="http://www.github.com/acecodes/aceadvisor">Github</a></li>
      </ul>
    </section>
  </nav>



{% endblock nav %}

{% block content %}
	
{% endblock %}

{% block js %}
  
  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/aceadvisor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.min.js') }}"></script>
  
  <script>
    $(document).foundation();

  </script>


{% endblock js %}

{% block footer %}

      <div class="footer">
      <p class="notes"><em>These views use scrapers, not APIs. Since the sources often change, the scrapers may be broken. Please <a href="http://www.acecodes.net/contact/">contact me</a> if one is not working.</em></p>
        <p class="copyright">&copy; <a href="//www.acecodes.net">Ace Eddleman</a> {{ year }}</p>
      </div>

{% endblock footer %}

</body>