{% extends "base.html" %}

{% block content %}

<div class="row">

<div class="large-12 columns">

<div class="section-header">
<h1>Headlines</h1>
<p><em>This section is currently under construction</em></p>
</div>
<div class="panel callout"

{% for items in headlines %}
<p>{{ items|safe }}</p>
{% endfor %}

</div>

<div class="section-header">
<h1>Markets</h1>
<p><em>Stocks, currencies and futures (commodities coming soon)</em></p>
</div>

<select id="selectField-bloomberg">
          <option value="bloomberg1">Stock Markets</option>
          <option value="bloomberg2">Futures</option>
          <option value="bloomberg3">Currencies</option>

           </select>



          <div id="bloomberg" class="panel callout">

<!-- Market box -->


<!-- Stocks -->

        <div id="bloomberg1" class="bloomberg">
        <div id="bloomberg" class="panel callout content">
        <table align=center>
<tr>
        {% for markets in stock_markets[:4] %}
          
          {% if '+' in markets[2] %}
          <td id="pos" class="quotes">
          {% else %}
          <td id="neg" class="quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span>
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
        {% endfor %}
</tr>
        <tr>
         {% for markets in stock_markets[4:] %}
         
          {% if '+' in markets[2] %}
          <td id="pos" class="quotes">
          {% else %}
          <td id="neg" class="quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span>
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
        {% endfor %}
        </tr>
        </table>
        </div>
        </div>

<!-- Futures -->
          <div id="bloomberg2" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            <table align=center>

          <tr>
          {% for markets in futures[0:] %}
         {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
         {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

        </table>
          </div>
          </div>

 <!-- Currencies -->

            <div id="bloomberg3" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            

          <table align=center>
          <tr>
          {% for markets in currencies[0:5] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

          <tr>
          {% for markets in currencies[5:10] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>


        </table>



        </div>
        </div>



</div>
<br />
<div class="section-header">
<h1>Stocks</h1>
<p><em>Click company name to see more information</em></p>
</div>

<!-- Screened stocks -->

<select id="selectField-stocks">
          <option value="stocks1">Income Stocks</option>
          <option value="stocks2">Growth Stocks</option>
       </select>

<div id="stocks1" class="stocks">
<div id="stocks" class="panel callout">

 <h3 align=center>Income Stocks</h3>
 <p align=center><em>Sorted by dividend yield</em></p>
<table align=center>
<tr>
    <td>
        Company
    </td>
    <td>
        Ticker
    </td>
    <td>
        Industry
    </td>
    <td>
        Price
    </td>
    <td>
        Change
    </td>
    <td>
        Dividend
    </td>
</tr>

{% for item in range(20) %}
{% if income_stocks(item)['price_number'] %}
<tr>
    <td><a href="{{ income_stocks(item)['ticker_link']|safe }}" target="_blank">{{ income_stocks(item)['company'] }}</a></td>
    <td>{{ income_stocks(item)['ticker_link/_text']}}
    <td>{{ income_stocks(item)['industry'] }}</td>
    <td>{{ income_stocks(item)['price_number'] }}</td>
{% if income_stocks(item)['change_number'] >= 0.0 %}
    <td class="up">{{ income_stocks(item)['change'] }}</td>
    {% else %}
    <td class="down">{{ income_stocks(item)['change'] }}</td>
    {% endif %}
    <td>{{ income_stocks(item)['dividend'] }}</td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
</div>

<div id="stocks2" class="stocks">
<div id="stocks" class="panel callout">

 <h3 align=center>Growth Stocks</h3>
 <p align=center><em>Sorted by P/E</em></p>
<table align=center>
<tr>
    <td>
        Company
    </td>
    <td>
        Ticker
    </td>
    <td>
        Industry
    </td>
    <td>
        Price
    </td>
    <td>
        Change
    </td>
    <td>
        P/E
    </td>
</tr>

{% for item in range(20) %}
{% if growth_stocks(item)['price_number'] %}
<tr>
    <td><a href="{{ growth_stocks(item)['ticker_link']|safe }}" target="_blank">{{ growth_stocks(item)['company'] }}</a></td>
    <td>{{ growth_stocks(item)['ticker_link/_text']}}
    <td>{{ growth_stocks(item)['industry'] }}</td>
    <td>{{ growth_stocks(item)['price_number'] }}</td>
    {% if growth_stocks(item)['change'] >= 0.0 %}
    <td class="up">{{ growth_stocks(item)['change'] }}</td>
    {% else %}
    <td class="down">{{ growth_stocks(item)['change'] }}</td>
    {% endif %}
    <td>{{ growth_stocks(item)['pe_number'] }}</td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
</div>

{% endblock %}