{% extends "base.html" %}

{% block content %}

<div class="row">

<div class="large-12 columns">

<h3>What would you like to view?</h3>

<div class="row">

<div class="large-4 columns">

<ul class="pricing-table">
  <li class="title">Headlines</li>
  <li class="bullet-item">Business and market-affecting news from around the world.</li>
  <li class="bullet-item">Source: <a href="http://www.bloomberg.com">Bloomberg</a></li>
  <li class="cta-button"><a class="button" href="#" id="headlines">Toggle</a></li>
</ul>

</div>

<div class="large-4 columns">

<ul class="pricing-table">
  <li class="title">Markets</li>
  <li class="bullet-item">Price levels for stocks, currencies and futures markets.</li>
  <li class="bullet-item">Source: <a href="http://www.bloomberg.com">Bloomberg</a></li>
  <li class="cta-button"><a class="button" href="#" id="markets">Toggle</a></li>
</ul>

</div>

<div class="large-4 columns">

<ul class="pricing-table">
  <li class="title">Screened Stocks</li>
  <li class="bullet-item">Stocks that have been screened for specific, investment-grade criteria.</li>
  <li class="bullet-item">Source: <a href="http://www.finviz.com">FinViz</a></li>
  <li class="cta-button"><a class="button" href="#" id="screener">Toggle</a></li>
</ul>

</div>

</div>


<p class="notes"><em>Note: These views can be combined. Try clicking more than one to give it a shot!</em>
</div>


<hr>
<br />
<div id="top">
<div class="section-header" data-id="headlines">
<h1>Headlines</h1>
<p><em>This section is currently under construction</em></p>

</div>
<div class="panel callout"

{% for items in headlines[:15] %}
<p>{{ items|safe }}</p>
{% endfor %}

</div>
</div>

<!-- Market box -->
<div id="middle">
<div class="section-header" data-id="markets">
<h1>Markets</h1>
<p><em>Stocks, currencies and futures (commodities coming soon)</em></p>
</div>

<select id="selectField-bloomberg">
          <option value="bloomberg1">Stock Markets</option>
          <option value="bloomberg2">Futures</option>
          <option value="bloomberg3">Currencies</option>

           </select>



          <div id="bloomberg" class="panel callout">



<!-- Stocks -->

        <div id="bloomberg1" class="bloomberg">
        <div id="bloomberg" class="panel callout content">
        <table align=center>
<tr>
        {% for markets in stock_markets[:4] %}
          
          {% if '+' in markets[2] %}
          <td id="pos" class="quotes">
          {% else %}
          <td id="neg" class="quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span>
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
        {% endfor %}
</tr>
        <tr>
         {% for markets in stock_markets[4:] %}
         
          {% if '+' in markets[2] %}
          <td id="pos" class="quotes">
          {% else %}
          <td id="neg" class="quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span>
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
        {% endfor %}
        </tr>
        </table>
        </div>
        </div>

<!-- Futures -->
          <div id="bloomberg2" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            <table align=center>

          <tr>
          {% for markets in futures[0:] %}
         {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
         {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

        </table>
          </div>
          </div>

 <!-- Currencies -->

            <div id="bloomberg3" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            

          <table align=center>
          <tr>
          {% for markets in currencies[0:5] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

          <tr>
          {% for markets in currencies[5:10] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>


        </table>



        </div>
        </div>


</div>
</div>
<br />

<div id="bottom">
<div class="section-header" data-id="stocks">
<h1>Stocks</h1>
<p><em>Click company name to see more information</em></p>
</div>

<!-- Screened stocks -->

<select id="selectField-stocks">
          <option value="stocks1">Income Stocks</option>
          <option value="stocks2">Growth Stocks</option>
       </select>

<div id="stocks1" class="stocks">
<div id="stocks" class="panel callout">

 <h3 align=center>Income Stocks</h3>
 <p align=center><em>Sorted by dividend yield</em></p>
<table align=center>



{{ income_stocks|safe }}

</table>
</div>
</div>

<div id="stocks2" class="stocks">
<div id="stocks" class="panel callout">

 <h3 align=center>Growth Stocks</h3>
 <p align=center><em>Sorted by P/E</em></p>
<table align=center>

{{ growth_stocks|safe }}


</table>
</div>
</div>
</div>
{% endblock %}